html{
    background-color: #05243D;
}

body{
    background: #05243D !important;
}

.textopago{
    color: white;
    text-align: center;
    font-size: 20px;
  }

.carritoimg{
    margin-right: 1vh;
    margin-top: 1vh;
    height: auto;
    width: 45px;
    border-radius: 15%;
}

.carritonav{
    width: 5vw;
}

#textbienvenida{
    color: #ffffff;
    padding-top: 1vh;
    padding-left: 2vw;
}

.carritoimg:hover{
    background-color:#3C647B;
}

.hamburger{
	position:fixed;
    background-color:transparent;
	left:0;
	top:0;
	height:30px;
	width:30px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
._layer{
	background:#2d82c7;
	border: #E7BB63 solid 1px;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(50%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menuppal{
    background-color: #3C647B;
	border-right: #05243D solid 0.4vw;
	border-bottom: #05243D solid 0.4vw;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translate3d(-100%, 0px, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 30%;
    z-index: 1001;
}
.menuppal ul{
  margin:0;padding:0;
}

.menuppal ul li { 
  list-style: none;
	text-align:center;
	font-family: Verdadna, Arial, Helvetica;
	color: nav-color-text;
	font-size: 1.5rem;
	line-height: 3em;
	height: 3em;
  	color: #36BFB1;
	text-transform:none;
	font-weight:bold;
}

.menuppal ul li a{
  text-decoration:none;
  color:#ffffff;
}
.menuppal ul li a:hover{
  text-decoration:none;
  color:#05243D;
}


.navbuttons{
	display: flex;
  	padding-left: 78.5vw;
}

.navpages{
  padding-left: 2vw;
}

.btnnav{
  width: 13.5vw;
  justify-content: space-around;
  padding-top: 1.5vh;
}

.labellogin{
	padding-right: 7vw;
}


#btnGrabarCta{
    background-color: #749EAC;
}

#btnGrabarCta:hover{
    background-color: #3C647B;
}

#btnIngresarCta{
    background-color: #749EAC;
}

#btnIngresarCta:hover{
    background-color: #3C647B;
}

#botonregistrarse{
	background-color: #749EAC;
	color: white;
	border-color: #E7BB63; 
	height: 6vh;
}

#botonregistrarse:hover{
	background-color: #3C647B;
	color: #0D0D0D;
	border-color: white;
}

#botonlogin{
	background-color: #749EAC;
	color: white;
	border-color: #E7BB63;
	height: 6vh;
}

#botonlogin:hover{
	background-color: #3C647B;
	color: #0D0D0D;
	border-color: white;
}

#navbar{
	background-color: #05243D;
	height: 9vh;
	justify-content: center;
	display: flex;
}

.modal-header{
    background-color: #05243D;
    color: white;
    border: #0D0D0D 2px solid;
}

.modal-body{
    background-color: #3C647B;
    border: #0D0D0D 2px solid;
}

.modal-footer{
    background-color: #05243D;
    color: white;
    border: #0D0D0D 2px solid;
}


/*! Carrusel  */


#container-slider
{
    position: relative;
    display: block;
    width:100%;
}

#slider {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}
#slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2; 
}
#container-slider .arrowNext {
    left: initial;
    right: 50px !important;
}
.content_slider{
    padding: 15px 30px;
    color: #FFF;
    width: 100%;
    height: 100%;
}
.content_slider div{
    text-align: center;
}
.content_slider h2{
    font-family: 'arial';
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content_slider p {
    font-size: 15pt;
    font-family: 'arial';
    color: #FFF;
    margin-bottom: 20px;
}
#slider li .content_slider{
    background: rgba(0, 0, 0, 0.50);
    padding: 10px 125px;
}
.content_slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSlider{
    color: #FFF;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #CCC;
    background: rgba(37, 40, 80, 0.55);
    border-radius: 31px;
    text-decoration: none;
    transition: .5s all;
}
.btnSlider:hover{
    background: #111;
    border: 1px solid #ffffff;
	color: white;
}
.listslider {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 2;
    transform: translateX(-50%);
}
.listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a {
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid {
    background: #FFF  !important;
}

@media screen and (max-width: 460px){
    .content_slider h2 {
        font-size: 15pt !important;
    }
    .content_slider p {
        font-size: 12pt !important;
    }
    #container-slider .arrowPrev, #container-slider .arrowNext{
        font-size: 20pt;
    }
    #container-slider .arrowPrev{
        left: 15px;
    }
    #container-slider .arrowNext{
        right: 15px !important;
    }
    #slider{
        height: 400px;
        min-height: 400px;
    }
    #slider li .content_slider{
        padding: 10px 35px;
    }
    .btnSlider{
        padding: 10px 30px;
        font-size: 10pt;
    }

}


/*! Footer*/
.pie{
    background: #05243D;
}
.imgfooter{
    width: 40px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px
}
.spanfooter{
    font-size: 23px;
}
.fb{
    background: rgb(0, 81, 255);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.tw{
    background: rgb(0, 140, 255);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.in{
    background: rgb(255, 0, 179);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.li{
    background: rgb(0, 102, 255);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.yt{
    background: rgb(255, 0, 0);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.inicio{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.logotipo{
    font-size: 18px;
    color: white;
}
.section{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    padding-bottom: 5vh;
}
.section .divsection{
    display: flex;
    flex-direction: column;
}
.divsection .h2footer{
    color: white;
    padding: 10px 0;
}
.afooter{
    color: rgba(255, 255, 255, 0.527);
    text-decoration: none;
    padding: 5px;
}
.formfooter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inputfooter{
    background: none;
    color: white;
    border: solid 2px white;
    padding: 10px 20px;
    text-align: center;
}
.buttonfooter{
    padding: 10px 20px;
    background: #749EAC;
    color: white;
    font-size: 18px;
}

.buttonfooter:hover{
    padding: 10px 20px;
    background: #3C647B;
    color: black;
    font-size: 18px;
}

.fechalabel{
    padding-top: 3vh;
    color: white;
}

.cantidadlabel{
    color: white;
}

